﻿<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/nvidia.jpeg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Master In Code</h3>
      </div>

      <div class="text-center">@masterincode</div>
      <div class="text-center">
        <a href="https://github.com/bms241093/project-management">Project Source Code</a>
      </div>
    </div>
  </div>
</div>